
@{
    ViewBag.Title = "About";
}

<h2>About</h2>
@Html.ActionLink("Back to List", "Index", "Home")&nbsp;&nbsp;&nbsp;
@Html.ActionLink("Go to Contact", "Contact", "Home")

<h3>@TempData["Data"]</h3>
<ul>
    @{
        foreach (string i in (string[])TempData["GamesArrays"])
        {
            <li>@i</li>
        }
    }
</ul>
