
@{
    ViewBag.Title = "About";
}

<h2>About</h2>
<a href="/Home">Back to List</a>&nbsp;&nbsp;&nbsp;
<a href="/Home/Contact">Go to Contact</a>
<h3>@TempData["Data"]</h3>
<ul>
    @{
        foreach (string i in (string[])TempData["GamesArrays"])
        {
            <li>@i</li>
        }
    }
</ul>
